* {
    font-family: 'Iosevka Term';
    margin: 0;
    padding: 0;
    min-height: 0;
    border: none;
    border-radius: 0;
    font-weight: 600;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    /* border-radius: 5px; */
}

.modules-left {
    padding-left: 3px;
}

.modules-right {
    padding-right: 3px;
}

#workspaces {
    border-radius: 3px;
    margin: 4px;
}

#workspaces button {
    color: #e0e0e0;
    padding: 0px 8px 0px;
}

#workspaces button.hover {
    background-color: #383838;
}

#workspaces button.active {
    background-color: #b0b0b0;
    color: #000000;
    font-weight: 700;
    border-radius: 3px;
}

#workspaces button.focused {
    background-color: #b0b0b0;
    color: #000000;
    font-weight: 700;
    border-radius: 3px;
}
